body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #444;
    display: flex;
    align-self: stretch;
    padding: 1em;
}

nav a {
    color: #fff;
}

.card_body {
    background-color: aqua;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    width: 12em;
    height: 12em;
    border-radius: 1em;
}
footer {
    padding: 1em;
    background-color: black;
    margin: 1em 0;
    align-self: stretch;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    body {
        background-color: midnightblue;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    body {
        background-color: pink;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-color: peru;
    }
}